.tags {
  display: flex;
  gap: 15px;
  color: #ccc;
  font-size: 1rem;
}

.price.red {
  color: red;
}

.price.green {
  color: green;
}

.img-container {
  position: relative;
  margin-inline: auto;
}

.img-container .sale-sticker {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 32%;
}

.buttons-container {
  display: flex;
  margin-inline: auto;
}

.add-review-container {
  align-self: center;
  margin-block-end: 10px;
}

.reviews-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: auto;
  width: 70%;
}

.reviews-list {
  list-style: none;
  padding: 0;
}

.review-item {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  background-color: #ccc;
  width: 100%;
  border-radius: 1rem;
  padding: 10px 15px;


  h3 {
    margin: 0;
  }

  p {
    display: flex;
    flex-direction: column;
  }
}